.homevideo{ 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
    object-fit: cover;

}
#next{
    position: fixed;
    font-size: 1.6rem;
    font-weight:600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    color: white;
    bottom: 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.1) 0%, rgba(20,20,20, 0.25) 58.12%, rgba(20,20,20, 0.4) 100%);
}
#next:hover{
    cursor: pointer;
}
#start {
    animation: fadeInDown 3s infinite;
    display: flex; 
    align-items: flex-start;
}
@keyframes fadeInDown {
    0% {
        opacity: 0.3;
        transform: translate3d(0, -60%, 0);
    }
    to {
        opacity: 0.85;
        transform: translateZ(0);
    }
}
 

.nextIcon{
    width:2.7rem;
    height: 2.7rem;
    margin-left: 25px;
}
@media (max-aspect-ratio: 1.2) {
    .background{
        background-color: #000410;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .homevideo{
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
        height: auto;
        
    }

    .nextIcon{
        margin-top: 4px;

    }
}
/*@media (min-width: 321px) and (max-width: 768px) {

}*/